.header{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .3s;
    font-family: 'Lobster Two', sans-serif;
}
.logo span{
    background: linear-gradient(135deg, #ff0000  8%, #ffa500 39%, #ff0 50%, #008000 60%, #00f 70%, #800080 90%);
    background-clip: text;
    color: transparent;
}


.nav-desktop {
    display: flex;
    gap: 2rem;
    align-items: center;    
}   

.nav-links {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 4px;
}

#admin{
    border: none;
    border-radius:15px;
    color: white;
    font-weight: bold;
    background-color: #764ba2;
    
    transition: all .3s;
}

#admin:hover{
    color: #050d35;
    box-shadow: 0 4px 20px rgba(28, 32, 85, 0.308);
}

.nav-links:hover{
    color: #050e36;
}

.nav-links.active{
    color: #050e36;
}
.menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    padding: .5rem;
    cursor: pointer;
    transition: opacity .3s;
}
.menu-button:hover{
    opacity: 0.8;
}

.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    max-width: 300%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform .3s;
}

.nav-mobile.open {
    transform: translateX(0);
}

.nav-mobile-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.close-button {
    background: none;
    border: none;
    color: white;
   padding: .5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: opacity .3s;
}

.close-button:hover{
    opacity: 0.8;
}

@media (max-width: 768px) {
    .nav-desktop {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .nav-mobile {
        display: flex;
    }

    .logo span {
        font-size: 1.2rem;
    }
    .header-container {
        padding: 0 1rem;
    }
    
}